In [1]:
import pandas as pd

# Load the main population data
population_df = pd.read_csv(
    "API_SP.POP.TOTL_DS2_en_csv_v2_87.csv", skiprows=4
)  # Skipping the first few rows to get to the data

In [2]:
print(population_df.head())

                  Country Name Country Code     Indicator Name Indicator Code  \
0                        Aruba          ABW  Population, total    SP.POP.TOTL
1  Africa Eastern and Southern          AFE  Population, total    SP.POP.TOTL
2                  Afghanistan          AFG  Population, total    SP.POP.TOTL
3   Africa Western and Central          AFW  Population, total    SP.POP.TOTL
4                       Angola          AGO  Population, total    SP.POP.TOTL

          1960         1961         1962         1963         1964  \
0      54608.0      55811.0      56682.0      57475.0      58178.0
1  130692579.0  134169237.0  137835590.0  141630546.0  145605995.0
2    8622466.0    8790140.0    8969047.0    9157465.0    9355514.0
3   97256290.0   99314028.0  101445032.0  103667517.0  105959979.0
4    5357195.0    5441333.0    5521400.0    5599827.0    5673199.0

          1965  ...         2015         2016         2017         2018  \
0      58782.0  ...     104257.0     104874.0     105439.0     105962.0
1  149742351.0  ...  600008424.0  616377605.0  632746570.0  649757148.0
2    9565147.0  ...   33753499.0   34636207.0   35643418.0   36686784.0
3  108336203.0  ...  408690375.0  419778384.0  431138704.0  442646825.0
4    5736582.0  ...   28127721.0   29154746.0   30208628.0   31273533.0

          2019         2020         2021         2022         2023  \
0     106442.0     106585.0     106537.0     106445.0     106277.0
1  667242986.0  685112979.0  702977106.0  720859132.0  739108306.0
2   37769499.0   38972230.0   40099462.0   41128771.0   42239854.0
3  454306063.0  466189102.0  478185907.0  490330870.0  502789511.0
4   32353588.0   33428486.0   34503774.0   35588987.0   36684202.0

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]

In [3]:
# Load country metadata
country_metadata_df = pd.read_csv(
    "Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_87.csv"
)
print(country_metadata_df.head())

  Country Code                     Region          IncomeGroup  \
0          ABW  Latin America & Caribbean          High income
1          AFE                        NaN                  NaN
2          AFG                 South Asia           Low income
3          AFW                        NaN                  NaN
4          AGO         Sub-Saharan Africa  Lower middle income

                                        SpecialNotes  \
0                                                NaN
1  26 countries, stretching from the Red Sea in t...
2  The reporting period for national accounts dat...
3  22 countries, stretching from the westernmost ...
4  The World Bank systematically assesses the app...

                     TableName  Unnamed: 5
0                        Aruba         NaN
1  Africa Eastern and Southern         NaN
2                  Afghanistan         NaN
3   Africa Western and Central         NaN
4                       Angola         NaN

In [4]:
merged_df=pd.read_csv("merged_df.csv")

C:\Users\emada\AppData\Local\Temp\ipykernel_2684\1523063577.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df=pd.read_csv("merged_df.csv")

In [5]:
# Clean column names
population_df.columns = population_df.columns.str.strip()

# Merge on the country name or country code
merged_df = pd.merge(
    merged_df,
    population_df[["Country Name", "2000"]],
    how="left",
    left_on="Country/Region",
    right_on="Country Name",
)

# Rename columns for clarity if needed
merged_df.rename(columns={"2000": "Population"}, inplace=True)

print(merged_df.head())

  Province/State Country/Region       Lat       Long        Date  Confirmed  \
0            NaN    Afghanistan  33.93911  67.709953  2020-01-22          0
1            NaN    Afghanistan  33.93911  67.709953  2020-01-23          0
2            NaN    Afghanistan  33.93911  67.709953  2020-01-24          0
3            NaN    Afghanistan  33.93911  67.709953  2020-01-25          0
4            NaN    Afghanistan  33.93911  67.709953  2020-01-26          0

   Deaths  Recovered  Daily_Confirmed  Daily_Deaths  Daily_Recovered  Hotspot  \
0       0        0.0              0.0           0.0              0.0        0
1       0        0.0              0.0           0.0              0.0        0
2       0        0.0              0.0           0.0              0.0        0
3       0        0.0              0.0           0.0              0.0        0
4       0        0.0              0.0           0.0              0.0        0

  Country Name  Population
0  Afghanistan  19542982.0
1  Afghanistan  19542982.0
2  Afghanistan  19542982.0
3  Afghanistan  19542982.0
4  Afghanistan  19542982.0

In [6]:
print(merged_df.columns)

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Daily_Confirmed', 'Daily_Deaths',
       'Daily_Recovered', 'Hotspot', 'Country Name', 'Population'],
      dtype='object')